html,
body {
  height: 100%;
}

body {
  @extend %dmsans-400;
  font-size: 14px;
  line-height: 30px;
  color: $default;
  display: flex;
  flex-direction: column;
}


a {
  color: $default;
}

.main {
  flex-grow: 1;
}

.big-container {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.small-container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  max-width: 109px;
  width: 100%;
  font-size: 14px;
  background-color: $bg-btn;
  padding: 9px 9px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.title {
  color: $title;
  @extend %dmsans-700;
  font-size: 36px;
  line-height: 43px;
}

.link {
  display: block;
  font-size: 15px;
  line-height: 12px;
  color: #436372;
  border: 1px solid #b3b7b5;
  border-radius: 5px;
  max-width: 180px;
  width: 100%;
  padding: 22px 10px 24px 19px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 9px;
    background-image: url('../images/icons/right-arrow.svg');
    top: 23px;
    right: 19px;
  }
}

.breadcrumbs {
  @extend %rubik-400;
  display: flex;
  justify-content: center;

  &__list {
    margin-top: 10px;
    display: flex;
  }

  &__item {
    position: relative;
    padding-right: 21px;

    &::after {
      content: '/';
      width: 7px;
      height: 13px;
      position: absolute;
      right: 6px;
    }

    &:last-child {
      padding-right: 0;

      &::after {
        display: none;
      }
    }
  }
}

.login-partners {
  margin-top: 0;
  padding: 78px 0 89px;
  background-color: rgba(252, 215, 182, 0.2);
}

.about-title {
  @extend %dmsans-700;
  font-size: 36px;
  line-height: 32px;
  color: $thing-title;
}

.about-text {
  @extend %rubik-400;
  font-size: 16px;
  line-height: 30px;
  color: $thing-title;
}